* {
  box-sizing: border-box;
 }

 html, body {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
 }
.segment {
  width: 100%;
  height: 100%;
}
 #nav_segment {
  display: flex;
  flex-direction: row;
  background-color: #35374B;
  height: 50px;
  color: #78A083;
}
#name {
  align-self: start;
  margin: auto;
  padding: 10px;
}
#buttons {
  align-self: end;
  margin: auto;
  display: flex;
  flex-direction: row;  
}
.button {
  padding: 10px;
}
 #intro {
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   background-color: #344955;
  color: #78A083;

 }

 #skills {
   background-color: #50727B;
 }
 #projects {
   background-color: #78A083;
 }
